body {
  font-family: "Sofia", sans-serif;
  color: white;
  padding: 2.5%;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 2.5%;
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#results img{
  width:200px;
}









