body {
  font-family: "Sofia", sans-serif;
  color: white;
  padding: 2.5%;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 2.5%;
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#results img{
  width:200px;
}

/* Default styles (mobile first approach is recommended) */
.container {
    width: 100%;
}

/* Media query for screens wider than 768px (tablets and desktops) */
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

.spaced-image {
  margin: 20px; /* Adds 20px of space outside on all sides */
  padding: 10px; /* Adds 10px of space inside on all sides */
  border: 1px solid #ccc; /* Optional: for demonstration of padding vs. margin */
}








